body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
  }
  
  form {
    max-width: 500px;
    margin: auto;
  }
  
  label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
  }
  
  input {
    display: inline-block;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  button {
    margin-left: 150px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  